@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --black: #111;
  --grey: #222;
  --blue: #03a9f4;
  --pink: #f441a5;
  --yellow: #ffeb3b;
  --red: #f00;
  --transition: 0.5s ease-in-out;
}

body {
  background: var(--grey);
  min-height: 100vh;
  padding: 30px 20px;
}

h1 {
  margin: 20px 0 40px;
  padding: 0;

  font-size: 4.5em;
  color: var(--black);
  text-align: center;
}
h1 span {
  font-family: "Bad Script", cursive;
  animation: animate 2s linear infinite;
}
h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.25s;
}
h1 span:nth-child(3) {
  animation-delay: 0.5s;
}
h1 span:nth-child(4) {
  animation-delay: 0.75s;
}
h1 span:nth-child(5) {
  animation-delay: 1s;
}
h1 span:nth-child(6) {
  animation-delay: 1.25s;
}
h1 span:nth-child(7) {
  animation-delay: 1.5s;
}
@keyframes animate {
  0%,
  100% {
    color: var(--white);
    filter: blur(2px);
    text-shadow: 0 0 10px var(--yellow), 0 0 20px var(--yellow),
      0 0 40px var(--yellow), 0 0 80px var(--yellow), 0 0 120px var(--yellow),
      0 0 200px var(--yellow), 0 0 300px var(--yellow);
  }
  5%,
  95% {
    color: var(--black);
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 400px auto;
  column-gap: 7vw;
  justify-content: center;

  width: 100%;
}

.controls {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;

  color: var(--white);
}

.controls label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

  color: var(--white);
}

.controls label span {
  margin-bottom: 20px;

  font-size: 1.15em;
  text-align: center;
}

.controls label textarea {
  width: 100%;
  max-width: 400px;
  min-height: 230px;
  padding: 10px;
  resize: none;

  font-size: 1em;
  color: var(--black);
}
.controls label textarea:placeholder {
  font-style: italic;
}

.setBtn {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  padding: 20px 40px;
  background: linear-gradient(
    90deg,
    var(--blue),
    var(--pink),
    var(--yellow),
    var(--blue)
  );
  background-size: 400%;
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;

  font-size: 1.25em;
  color: var(--white);
  text-transform: uppercase;

  cursor: pointer;
}
.setBtn::after {
  content: "";
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
  transition: opacity var(--transition);
}
.setBtn:disabled::after {
  opacity: 1;
}
.setBtn:not(:disabled):hover {
  animation: text 8s linear infinite;
}
@keyframes text {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.setBtn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;

  background: linear-gradient(
    90deg,
    var(--blue),
    var(--pink),
    var(--yellow),
    var(--blue)
  );
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: filter var(--transition), opacity var(--transition),
    background-position var(--transition);
}
.setBtn:not(:disabled):hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: text 8s linear infinite;
}

.winner {
  margin-bottom: 50px;

  font-size: 1.15em;
  text-align: center;
}

.winnerName {
  margin-top: 10px;

  font-size: 1.25em;
  color: var(--yellow);
}

.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .wheel {
  position: relative;

  display: flex;
  justify-content: center;
}

.centerCircle {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  border-radius: 60px;
  background-color: var(--white);
  transform: translateY(-50%);

  cursor: pointer;
}

.centerCircle span {
  font-size: 1.15em;
  font-weight: 600;
  color: var(--black);
}

.triangle {
  position: absolute;
  top: 50%;
  right: -234%;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 30px solid var(--red);
  transform: translateY(-50%);
}

.error {
  position: absolute;
  bottom: 0;
  left: 10px;

  font-size: 14px;
  color: var(--red);
}
